/* table-pending-requests */

#table-pending-requests tbody td:nth-child(2) {
    white-space: nowrap;
}

#table-pending-requests tbody td:nth-child(7) {
    text-align: right;
    white-space: nowrap;
}

/* table-closed-requests */

#table-closed-requests tbody td:nth-child(2) {
    white-space: nowrap;
}

#table-closed-requests tbody td:nth-child(8) {
    white-space: nowrap;
}
